.side-drawer {
  height: 100%;
  background: black;
  color: #9ed9ccff;
  font-family: 'poppins', sans-serif;
  box-shadow: 2px 0px 3px rgba(0, 0, 0 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 60%;
  max-width: 400px;
  z-index: 200;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
}

.side-drawer.open {
  transform: translateX(0);
}

.side-drawer__navigation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 30%;
  margin-top: 30px;
  margin-left: 20px;
}

.menubar_logo__side-drawer {
  display: flex;
  width: 80%;
  padding-top: 20px;
  text-align: left;
}
